<model></model>

<section class="container">
  <section class="row">
    <form class="input-group search-container">
      <input type="text" class="form-control" (keyup)="searchFn(search)" 
      name="search" [(ngModel)]="search" placeholder="Search for book">
    </form>
  </section>
</section>

<section class="container">
  <section class="row">

    <section class="book-list-container" *ngFor="let book of booksListResolved;let index=index;">
      <book [book]="book" (bookDelete)="bookDeleteEventListener($event)" [mode]="mode" [list]="booksListResolved"></book>
    </section>

    <section *ngIf="isEmpty" class="no-results">
      <p>{{results}}</p>
    </section>

  </section>
</section> 


