:host {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-self: center;
    margin-top: 1%;
    .edit-book {
        width: 30%;
        margin: 0 auto;
        max-width: 30rem;
        min-width: 15rem;
    }
}